<wot-page>
  <wot-step-info>
    <h1>
      Schritt 7: Analyse
    </h1>
    <p>
      Auf dieser Seite seht ihr wie eure selbstgezeichneten Bilder erkannt wurden.
    </p>
  </wot-step-info>
  <wot-content>
    <wot-row>
      <div class="inner-content">
        <div class="image-list">
          <div class="image-item" *ngFor="let image of images" (click)="imageSelected(image)" [ngStyle]="{'border': (selectedImage===image) ? '3px solid var(--color-primary-light)' : '0px'}">
            <div>
              <img width="100%" src="{{image.imagePath}}"/>
            </div>
          </div>
        </div>
        <div class="analysis" *ngIf="selectedImage">
          <table class="prediction-table">
            <tr>
              <th>Klasse</th>
              <th>Konfidenz</th>
            </tr>
            <tr *ngFor="let class of sortedClasses" class="prediction-row">
              <td class="class-column">{{classes[class]}}</td>
              <td>
                <div class="progress-bar-wrapper">
                  <wot-progress-bar height="10px" width="270px" background="auto" [progress]="selectedImage.prediction[class]" [total]="1"></wot-progress-bar>
                </div>
              </td>
            </tr>
          </table>
          Du hast das Objekt als <span [style.color]="selectedColor" >{{selectedImage.label}}</span> klassifiziert.
        </div>
      </div>
    </wot-row>
  </wot-content>
  <wot-row>
    <wot-button slot="right" (press)="continue()">Beenden</wot-button>
  </wot-row>
</wot-page>
