.inner-content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.image-list {
    height: 518px;
    width: 200px;
    overflow: auto;
    scrollbar-width: none;

    --mask-height: 48px;
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        #00030B var(--mask-height),
        #00030B calc(100% - var(--mask-height)),
        transparent
    );
    mask-image: var(--mask-image-content);
    mask-size: 100%;
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    padding: 48px;
}

.image-list::-webkit-scrollbar {
    display: none;
}

.image-item {
    margin-bottom: 10px;
    background-color: var(--color-bg);
}

.image-item:hover {
    background: linear-gradient(45deg, var(--color-bg-dark), var(--color-bg-light));
}

.prediction-table {
  margin: 2em 10em 2em 0;
  text-align: left;

  th {
    font-style: italic;
    border-spacing: 5px;
  }
  th::after {
    content: "@";
    display: block;
    line-height: 2em;
    text-indent: -99999px;
  }
}

.analysis {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.class-column {
    padding: 10px 20px 10px 0;
}

.prediction-value {
    position: absolute;
    color: black;
    padding-left: 3px;
}

.prediction-bar {
    position: absolute;
}

.prediction-row {
    padding: 50px;
}

.prediction-column {
    position: relative;
    width: 400px;
    height: 20px;
}
