<wot-page>
    <wot-step-info>
      <h1>
        Schritt X: Analyse
      </h1>
      <p>
        Auf dieser Seite siehst du wie eure selbstgezeichneten Bilder erkannt wurden.
      </p>
    </wot-step-info>
    <wot-row>
      <div class="inner-content">

        <div class="image-list">
          <div class="image-item" *ngFor="let image of images" (click)="imageSelected(image)" [ngStyle]="{'border': (selectedImage===image) ? '3px solid var(--color-primary-light)' : '0px'}">
            <wot-container>
              <img width="100%" src="{{image.imagePath}}"/>
            </wot-container>
          </div>
        </div>
        <div class="analysis" *ngIf="selectedImage">
          <table class="prediction-table">
            <tr>
              <th>Klasse</th>
              <th>Konfidenz</th>
            </tr>
            <tr *ngFor="let class of sortedClasses" class="prediction-row">
              <td class="class-column">{{classes[class]}}</td>
              <td>
                <div class="prediction-column">
                  <wot-progress-bar class="prediction-bar" [height]="20" [width]="400" [progress]="selectedImage.prediction[class]" [total]="1"></wot-progress-bar>
                  <div class="prediction-value">{{selectedImage.prediction[class].toFixed(2)}}</div>
                </div>
              </td>
            </tr>
          </table>
          Du hast das Objekt als <span [style.color]="selectedColor" >{{selectedImage.label}}</span> klassifiziert.
        </div>
      </div>
    </wot-row>
    <wot-row>
      <wot-button slot="right" (press)="continue()">Beenden</wot-button>
    </wot-row>
</wot-page>