/* You can add global styles to this file, and also import other style files */
//@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face {
  font-family: Mono;
  src: url(assets/font/JetBrainsMono-Medium.woff2) format('woff2');
}

:root {
  --base-scale: 1;

  --base-font: 'Ubuntu', sans-serif;

  --color-bg-darker: #00030B;
  --color-bg-dark: #020D17;
  --color-bg: #041623;
  --color-bg-light: #023947;
  --color-bg-lighter: #014B59;

  --color-text: #7F7764;
  --color-heading: #9F7426;

  --color-primary: #014B59;
  --color-primary-light: #0e97aa;
  --color-secondary: #023947;
  --color-secondary-light: #005C6B;

  --color-lightgray: #717171;
  --color-gray: #5a5953;
  --color-darkgray: #1d1e25;

  --color-danger: #e63946;
  --color-warning: #fca311;
  --color-success: #90be6d;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg-darker);
  cursor: none;
}

* {
  font-family: var(--base-font);
}

* h1,h2,h3,h4,h5,h6 {
  color: var(--color-heading);
}

* p {
  color: var(--color-text);
}
