.inner-content {
  padding: 0 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.canvas-group {
  display: flex;
  flex-direction: row;
}

.drawing-canvas {
  height: fit-content;
  width: fit-content;
  border: #7F7764 solid 1px;
}

.canvas-buttons {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
}

.image-list {
  height: 518px;
  display: grid;
  grid-template-columns: repeat(2, 252px);
  grid-template-rows: repeat(2, 252px);
  grid-gap: 10px;
}

.image-item {
  margin-bottom: -3px;
  border: #7F7764 solid 1px;
}
