.inner-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.canvas-group {
  display: flex;
  flex-direction: row;
}

.drawing-canvas {
  height: fit-content;
  width: fit-content;
  border: #7F7764 solid 1px;
}

.canvas-buttons {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
}

.image-list {
  height: 518px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  float: right;
}

.image-item {
  width: calc(512px / 3 - 8px);
  margin-bottom: 7px;
  border: #7F7764 solid 1px;
}
