<wot-page>
  <wot-step-info>
    <h1>
      Schritt 3: Klassifizierung
    </h1>
    <p>
      Um die Objekte zuordnen zu können, ist es nun wichtig diesen eine Kategorie zuzuweisen. Sortiert dafür die Objekte in die untenstehenden Ordner ein.
    </p>
  </wot-step-info>
  <wot-content>
    <wot-row>
      <drag-and-drop [data]="images" [labels]="labels" #dragDrop></drag-and-drop>
    </wot-row>
  </wot-content>
  <wot-row>
    <wot-button slot="right" [disabled]="dragDrop.dragObjects.length > 0" (press)="done(dragDrop)">Schritt abschließen</wot-button>
  </wot-row>
</wot-page>

<wot-success-overlay (continue)="continue()" #successOverlay>
  Ihr habt den Objektzeichnungen eine Kategorie zugewiesen. Die KI kann nun darauf trainiert werden Zeichnungen einer Kategorie zuzuordnen.
</wot-success-overlay>
