<wot-page>
  <wot-step-info>
    <h1>
      Schritt 3: Klassifizierung
    </h1>
    <p>
      Damit der Computer die Objekte erkennen kann, ist es nun wichtig, ihnen eine Kategorie zuzuweisen. Sortiert dafür
      die Objekte in die unten stehenden Ordner ein.
    </p>
  </wot-step-info>
  <wot-content>
    <wot-row>
      <drag-and-drop [data]="images" [labels]="labels" #dragDrop></drag-and-drop>
    </wot-row>
  </wot-content>
  <wot-row>
    <wot-button slot="right" [disabled]="dragDrop.dragObjects.length > 0" (press)="done(dragDrop)">ZUM NÄCHSTEN SCHRITT
    </wot-button>
  </wot-row>
</wot-page>

<wot-success-overlay (continue)="continue()" #successOverlay>
  Bravo!<br>
  Ihr habt den Objektzeichnungen eine Kategorie zugewiesen. Die KI kann nun darauf trainiert werden, selbstständig
  Zeichnungen einer Kategorie zuzuordnen.<br>
  SCHRITT ABSCHLIESSEN
</wot-success-overlay>