<a href="#" onclick="return false;" class="btn butn butn__new"
   [style.padding]="icon ? '0.7rem' : '1rem'"
   [style.display]="getDisplayStyle()"
   [style.float]="getFloatStyle()"
   [style.background]="getBackground()"
   [style.color]="getColorStyle()"
   [style.border-color]="getColorStyle()"
   [style.width]="getWidth()"
>
  <span>
    <ng-content *ngIf="!icon" [style.text-algin]="getTextAlign()"></ng-content>
    <ion-icon name="{{icon}}" class="btn-icon" *ngIf="icon"></ion-icon>
    <div *ngIf="texticon" class="texticon">
      <ion-icon name="{{texticon}}" class="texticon" *ngIf="texticon"></ion-icon>
      <ion-icon name="{{texticon2}}" style="margin-inline: 10px;"class="texticon" *ngIf="texticon2"></ion-icon>
      <ion-icon name="{{texticon3}}" class="texticon" *ngIf="texticon3"></ion-icon>
      <div class="texticon-count" *ngIf="texticonCount">{{texticonCount}}</div>
      <div class="texticon-label" *ngIf="texticonLabel">{{texticonLabel}}</div>
      <div class="texticon-label-left" *ngIf="texticonLabelOne">{{texticonLabelOne}}</div>
    </div>
  </span>
</a>
