.btn {
  padding: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  background: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  overflow: hidden;
  cursor: none;
  transition: all 0.3s ease-in-out;
}

ion-icon {
  --ionicon-stroke-width: 64px;
  font-size: 24px;
}

.btn:hover::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 20px;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  left: -60%;
}

.btn:hover::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -100px;
  transform: rotate(35deg);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 6rem;
  left: -50%;
}

.btn:hover {
  transform: translateY(0);
  background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-secondary-light));
}

.btn:active::before {
  left: 160%;
  opacity: 0.2;
}

.btn:active::after {
  left: 170%;
  opacity: 0.3;
}

.btn span {
  z-index: 20;
}

div.texticon {
  width: 100%;
  text-align: center;
}

.texticon {
  --ionicon-stroke-width: 20px;
  font-size: 50px;
  margin-top: 20px;
  position: relative;
}

.texticon-count {
  position: absolute;
  font-size: 0.3em;
  right: 70px;
  bottom: 22px;
}

.texticon-label {
  position: absolute;
  font-size: 0.15em;
  right: 42px;
  bottom: 5px;
  text-align: center;
}