:host {
  padding: 64px 15% 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:host ::ng-deep h1,h2,h3,h4,h5,h6 {
  margin: 6px;
  text-align: center;
}

:host ::ng-deep p {
  margin: 6px;
  text-align: center;
  font-size: 1.5em;
}

