<div class="wot-overlay">
  <div class="glitch">
    <h1 class="gameover-title">
      Game  Over
    </h1>
  </div>
  <p class="gameover-info">Der Truck wurde zerstört und die Mission ist vorrüber.</p>
  <p class="gameover-info">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  <wot-row>
    <wot-button routerLink="/analytics">Versuche es erneut</wot-button>
  </wot-row>
  <wot-row>
    <wot-button routerLink="/analytics">Zur Auswertung der Ergebnisse</wot-button>
  </wot-row>
</div>
