<div class="wot-overlay">
  <div class="glitch">
    <h1 class="gameover-title" [textContent]="win ? 'VICTORY' : 'DEFEAT'"
      [ngStyle]="{'color': win ? 'var(--color-success)' : 'var(--color-danger)'}">
    </h1>
  </div>
  <p *ngIf="!win" class="gameover-info">Die Mission ist gescheitert.</p>
  <p *ngIf="!win" class="gameover-info">Ihr könnt nun das Erkennungssystem erneut trainieren. Überlegt dabei, bei
    welchem Schritt ihr einsteigen möchtet. Ihr könnt das Spiel auch über die Auswertung beenden.</p>
  <p *ngIf="win" class="gameover-info">Der Truck hat die Mission erfolgreich abgeschlossen!</p>
  <p *ngIf="win" class="gameover-info">Nun könnt ihr in der Auswertung noch überprüfen, wofür die von euch gezeichneten
    Bilder von der KI gehalten wurden.</p>
  <div *ngIf="!win">
    <wot-row *ngFor="let hit of hits; let i = index" [attr.data-index]="i">
      <wot-column class="hit-list-col">
        <ion-icon name="heart" class="hit-list-heart" [ngStyle]="{'color': 'red'}"></ion-icon>
      </wot-column>
      <wot-column class="hit-list-col">
        <img src="{{hit.imagePath}}" class="hit-list-img"/>
      </wot-column>
      <wot-column class="hit-list-col">
        <p>wurde indentifiziert als</p>
      </wot-column>
      <wot-column class="hit-list-col hit-list-label"><p><b>{{getLabelString(hit.predictedClass)}}</b></p></wot-column>
      <wot-column class="hit-list-col"><p>und wurde</p></wot-column>
      <wot-column class="hit-list-col hit-list-label"><p><b>{{getActionString(actions[i])}}</b></p></wot-column>      
    </wot-row>
  </div>
  <wot-row *ngIf="!win">
    <wot-column class="defeat_button">
      <wot-button texticon="arrow-undo" routerLink="/data-overview" class="defeat_button">Nochmal komplett<br/>neu versuchen</wot-button>
    </wot-column>
    <wot-column class="defeat_button">
      <wot-button texticon="planet-outline" texticon2="arrow-forward" texticon3="folder-open-outline" texticonCount="1" texticonLabel="Raumschiff" routerLink="/data-labeling" class="defeat_button">Bei Schritt 3 starten<br/>Klassifizierung</wot-button>
    </wot-column>
    <wot-column class="defeat_button">
      <wot-button texticon="planet-outline" texticon2="arrow-forward" texticon3="folder-open-outline" texticonLabel="Abschiessen" texticonCount="3" routerLink="/data-grouping" class="defeat_button">Bei Schritt 5 starten<br/>Gruppieren</wot-button>
    </wot-column>
    <wot-column class="defeat_button">
      <wot-button texticon="bulb" routerLink="/analytics" class="defeat_button">Zur Auswertung <br/>der Ergebnisse</wot-button>
    </wot-column>
    
    
    
    
  </wot-row>
</div>