.wot-header-title {
  line-height: calc(var(--base-scale) * 4rem);
  padding: 0 calc(var(--base-scale) * 1.4rem);
  font-size: calc(var(--base-scale) * 2rem);
  vertical-align: center;
  text-align: center;
}
