
<div class="page">
    
    <div class="title">
        <img width="800px" src="assets/game/spacetruck.png">
    </div>

    <div class="titles">
        
        <div class="titlecontent">

            <div class="center header">Mission erfolgreich!!</div>
            
            <div>Ihr habt es geschafft. Wir hoffen ihr hattet Spaß und konntet etwas zum Thema maschinelles Lernen lernen.</div>

            <div>Scannt bitte jetzt den nebenstehenden QR-Code mit einem Smartphone. Bitte füllt den Feedbackbogen aus, um uns bei unserem Projekt zu unterstützen. Danke!</div>
            
            <div>Wir, die Entwickler Luca Admas, Leonhard Stengel und Rico Rauschkolb, bedanken uns bei Dominik, Felicitas und Marie für die Unterstützung bei der Umsetzung. Des Weiteren danken wir den fleißigen Zeichnern Ian, Jan, Yannic, Konrad und allen die wir vergessen haben.</div>
            
            
            <div class="center"><img width="500px" src="assets/credits/dhbw-logo.jpg"></div>
        </div>
    </div>

    <div class="feedback">
        <img width="500px" style="display: block;" src="assets/credits/feedback-qr.png">
    </div>
    <wot-button *ngIf="skip" (press)="quit()" class="end-btn">Zurück auf Start</wot-button>
</div>