.progress-bar-container {
    background-color: #eee;
}
.progress-bar {
    width: 0;
    background-color: var(--color-primary-light);
}
.progress-bar.green {
    background-color: green;
}
.progress-bar.yellow {
    background-color: yellow;
}
.progress-bar.red {
    background-color: red;
}