<div class="wot-overlay">
  <wot-container>
    <div class="container img" [@.disabled]="epoch > 10" #popoverTarget1>
      <div class="image-inner-container" [@imageAnimation]="{value: images, params: {time: this.delayFactor*0.1}}">
        <span *ngFor="let image of images; let i=index;">
          <img class="img-data" src="{{image.imagePath}}" [@colorAnimation]="ratings[i]" />
        </span>
      </div>
    </div>
    <div #popoverTarget3></div>
  </wot-container>
  <wot-column>
    <h1 style="margin: 6px; text-align: center">Unser Neuronales Netz</h1>
    <h3 style="margin: 0; text-align: center">Das "Gehirn" unserer KI</h3>
    <h3 style="margin: 0; margin-top: 10px; text-align: center">Mit diesem Künstlichen Neuronalen Netzwerk<br> und den von uns klassifizierten Bildern <br>kann die KI nun trainieren!<br>Beobachtet die KI beim Training und wie sich das <br>Neuronale Netz verändert.</h3> -->
    <div style="text-align: center; margin-top: 10px;" >
      <wot-button slot="fill" (press)="startTraining()" [disabled]="stage != 0" *ngIf="stage < 2">TRAINING STARTEN</wot-button>   
      <wot-button slot="fill" (press)="startTraining()" [disabled]="stage != 2" *ngIf="stage >= 2 && stage < 4">TRAINING FORTSETZEN</wot-button> 
    </div>
    <div style="margin-top: 40px;"></div>
    <div #popoverTarget2 #popoverTarget4 #popoverTarget7></div>
    <neural-net-sim #neuralNet></neural-net-sim>
  </wot-column>
  <wot-container>
    <div class="container" #popoverTarget5>
      <wot-row>
        <wot-progress-bar height="24px" width="400px" [label]="'Epoche '+this.epoch+'/1000'" [progress]="this.epoch"
          [total]="1000" [animationSpeed]="1000*delayFactor"></wot-progress-bar>
      </wot-row>
      <wot-row>
        <wot-progress-bar height="24px" width="400px" [label]="getStepLabel()" [progress]="this.step" [total]="5"
          [animationSpeed]="1000*delayFactor"></wot-progress-bar>
      </wot-row>
      <wot-row>
        <div class="info-text" *ngIf="stage >= 2">
          <p style="color: red;"*ngIf="stage === 2">HINWEIS: Das Training des Modells ist rechenintensiv und deswegen sehr langsam. Daher beschleunigen wir das Ganze jetzt.</p>
          <p style="color: red;"*ngIf="stage === 2">Klickt dafür auf „TRAINING FORTSETZEN“!</p>
          <p *ngIf="stage > 2 && epoch <= 200">Beschleunigung: {{2/delayFactor}}x</p>
          <p *ngIf="epoch > 200">
            HINWEIS: Das Training des Modells ist rechenintensiv und deswegen sehr langsam. Daher beschleunigen wir das
            Ganze jetzt.<br><br>
            Beschleunigung: HYPERSPEED
          </p>
        </div>
      </wot-row>
      <div style="position: absolute; bottom: 48px; width: calc(100% - 96px)" #popoverTarget6>
        <wot-row>
          <h2>Genauigkeit: {{accuracy | number: '1.0-2'}} %</h2>
        </wot-row>
        <wot-row>
          <!--          <wot-button slot="fill" (press)="startTraining()" [disabled]="stage != 0" *ngIf="stage < 2">Training Starten</wot-button>-->
          <!--          <wot-button slot="fill" (press)="startTraining()" [disabled]="stage != 2" *ngIf="stage >= 2 && stage < 4">TRAINING FORTSETZEN</wot-button>-->
          <wot-button slot="fill" (press)="successOverlay.setVisible()" *ngIf="stage >= 4">TRAINING ABSCHLIESSEN
          </wot-button>
        </wot-row>
      </div>
    </div>
  </wot-container>
</div>

<wot-success-overlay (continue)="continue()" #successOverlay>
  Ihr habt euer erstes Neuronales Netz trainiert. Nun müsst ihr dem Abwehrsystem noch sagen, was es mit den erkannten
  Objekten tun soll.
</wot-success-overlay>

<wot-popover #popover1></wot-popover>
<wot-popover #popover2></wot-popover>
<wot-popover #popover3></wot-popover>
<wot-popover #popover4></wot-popover>
<wot-popover #popover5></wot-popover>
<wot-popover #popover6></wot-popover>
<wot-popover #popover7></wot-popover>