<div class="landing-page">
  <div class="landing-logos">
    <img width="600" src="assets/game/spacetruck.png">
    <img width="260" src="assets/credits/DHBW_d_KA_46mm_4c.svg">
  </div>
  <div class="landing-info">
    <h1>Machine Learning</h1>
    <wot-row>
      <p>
        Herzlich willkommen an der Station zu Machine Learning. Jetzt dürft ihr selbst ausprobieren, was hinter dem
        Begriff „maschinelles Lernen“ steckt..
      </p>
      <p>
        Nach den neuesten Umbauten am Truck kann dieser auch durch das Weltall fliegen. Zu den Umbauten zählen
        Düsenantriebe sowie ein Erkennungssystem für Objekte, die im Weltall umherfliegen.
      </p>
      <p>
        Nun soll der Truck auf Erkundungstour gehen, um neue Welten zu entdecken. Das Problem ist, dass das
        Erkennungssystem bis jetzt noch nicht zwischen verschiedenen Objekten unterscheiden kann. Helft der
        Truck-Besatzung, die Mission sicher durchzuführen, indem ihr die Künstliche Intelligenz des Erkennungssystems
        trainiert!
      </p>
    </wot-row>
    <wot-row>
      <wot-button (press)="continue()">LASST UNS BEGINNEN!</wot-button>
    </wot-row>
  </div>
</div>