<div class="landing-page">
  <img width="600" src="assets/game/spacetruck.png">
  <div class="success-info">
    <h1>Künstliche Intelligenz</h1>
    <wot-row>
      <p>
        Willkommen an der KI-Station. Hier sollst du lernen was hinter den Begriff Künstliche Intelligenz steckt.
      </p>
      <p>
        Nach den neuste Umbauten am Truck kann dieser nun auch durch das Weltall fliegen. Zu den Umbauten zählen Düsenantriebe, sowie ein Erkennungssystem für Objekte die Weltall herumfliegen.
      </p>
      <p>
        Nun soll der Truck auf Erkundungstour gehen, um neue Welten zu entdecken. Das Problem ist nun, dass das Erkennungssystem bis jetzt nicht  zwischen Objekte unterscheiden kann. Unterstütze nun das Truck Team dieses Erkennungssystem zu trainieren, um mögliche Gefahren abzuwenden und einen sichere Mission zu ermöglichen.
      </p>
    </wot-row>
    <wot-row>
      <wot-button (press)="continue()">Lasst uns beginnen!</wot-button>
    </wot-row>
  </div>
</div>
