<div class="landing-page">
  <div class="landing-logos">
    <img width="600" src="assets/game/spacetruck.png">
    <img width="280" src="assets/credits/dhbw-karlsruhe.png">
  </div>
  <div class="landing-info">
    <h1>Machine Learning</h1>
    <wot-row>
      <p>
        Herzlich Willkommen an der Station zu Machine Learning. Jetzt dürft ihr selbst ausprobieren, was hinter dem Begriff „maschinelles Lernen“ steckt.
      </p>
      <p>
        Nach den neusten Umbauten am Truck kann dieser auch durch das Weltall fliegen. Zu den Umbauten zählen Düsenantriebe sowie ein Erkennungssystem für Objekte, die im Weltall umherfliegen.
      </p>
      <p>
        Nun soll der Truck auf Erkundungstour gehen, um neue Welten zu entdecken. Das Problem ist, dass das Erkennungssystem bis jetzt noch nicht zwischen verschiedenen Objekten unterscheiden kann. Unterstützt die Truck-Besatzung, die künstliche Intelligenz des Erkennungssystem zu trainieren, um mögliche Gefahren abzuwenden und eine sichere Mission zu gewährleisten!
      </p>
    </wot-row>
    <wot-row>
      <wot-button (press)="continue()">Lasst uns beginnen!</wot-button>
    </wot-row>
  </div>
</div>
