.bottomright{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.drawingCanvas{
  border-style: solid;
  border: 2px;
  border-color: darkblue;
  background-color: black;
}

#canvas {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  //visibility: hidden;
}
