.bottomright{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.drawingCanvas{
  //border-style: solid;
  //border: 5px;
  //border-color: lightblue;
  background-color: black;
  z-index: 99;
  border: #7F7764 solid 1px;
}

#canvas {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  border-style: solid;
  border: 5px;
  border-color: lightblue;
  //visibility: hidden;
}

.health-bar {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.game-progress-bar {
  position: fixed;
  top: 0;
  background-color: black;
  height: 20px;
  width: 100%;
  z-index: 2;
}