.body {
    background-color: black;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.footer {
    height: calc(var(--base-scale) * 15rem);
    width: 100%;
    background: #303030;
    color: white;
}

.drag-item {
    width: calc(var(--base-scale) * 10rem);
    height: calc(var(--base-scale) * 10rem);
    position:absolute;
    border: solid 1px #ccc;
    color: white;
    align-items: center;
    box-sizing: border-box;
    cursor: move;
    background: black;
    font-size: 14px;
    z-index: 100;
}

.drop-item {
    height: calc(var(--base-scale) * 10rem);
    width: calc(var(--base-scale) * 10rem);
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    flex-grow: 1;
    width: 100%;
    z-index: 1;
}

.drag-img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.class-label {
    color: white;
    font-size: larger;
}