.body {
  display: flex;
  width: 1600px;
  height: 650px;
  flex-direction: column;
}

.categories {
  height: 150px;
  margin: auto;
  display: flex;
  color: white;
}

.category {
  width: 130px;
  height: 130px;
  margin: 0 5px;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .08em;
  text-transform: uppercase;
  background: linear-gradient(45deg, var(--color-bg-lighter), var(--color-bg-light));
  overflow: hidden;
  display: block;
}

.undo-div {
  width: 118px;
  height: 118px;
}

.undo-btn {
  margin: 0 10px;
}

.category:hover {
  transform: translateY(0);
  background-image: linear-gradient(45deg, var(--color-secondary-light), var(--color-primary-light));
}

ion-icon {
  --ionicon-stroke-width: 20px;
  font-size: 80px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.p-count {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.p-label {
  width: 100%;
  position: relative;
  text-align: center;
  hyphens: auto;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  word-wrap: break-word;
}

.icon-count {
  width: 80px;
  height: 80px;
  position: relative;
  margin: auto;
}

.drag-item {
  width: calc(var(--base-scale) * 6rem);
  height: calc(var(--base-scale) * 6rem);
  position: absolute;
  color: white;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  z-index: 100;
  background: linear-gradient(45deg, var(--color-bg-dark), var(--color-bg-light));
  border: var(--color-text) solid 1px;
}

.content {
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

.drag-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class-label {
  margin-top: 3px;
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: white;
}
