<div cdkDropListGroup class="content" #dropZone>
    <div cdkDropList class="drop-container" [cdkDropListSortingDisabled]="true" [cdkDropListData]="data">
        <div *ngFor="let item of data" class="drag-container" [style.top.px]="item.y" [style.left.px]="item.x" [style.z-index]="item.z" (cdkDragDropped)="changePosition($event,item)" (cdkDragStarted)="changeZIndex(item)" cdkDrag>
            <img src="{{item.imagePath}}" height="{{item.height}}" width="{{item.width}}" class="drag-img"/>
            <div *cdkDragPlaceholder></div>
        </div>
    </div>
    <div class="footer content">
        <div *ngFor="let class of labelClasses" cdkDropList [cdkDropListSortingDisabled]="true" [cdkDropListData]="class.images" class="drop-folder">
            <img src="assets/folder.png" style="width: 100%; height: 80%;"/>
            {{class.class}}
        </div>
    </div>
</div>