.body {
  display: flex;
  width: 1600px;
  height: 580px;
  flex-direction: row;
}

.categories {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.category {
  width: 20rem;
  margin: 0.4rem 0;
  padding: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  background: linear-gradient(45deg, #014B59, #023947);
  overflow: hidden;
  display: flex;
}

.category:hover {
  transform: translateY(0);
  background-image: linear-gradient(45deg, #005C6B, #0e97aa);
}

ion-icon {
  --ionicon-stroke-width: 64px;
  font-size: 16px;
  margin: 1px 10px 0 0;
}

.drag-item {
  width: calc(var(--base-scale) * 6rem);
  height: calc(var(--base-scale) * 6rem);
  position: absolute;
  color: white;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  z-index: 100;
  background: linear-gradient(45deg, #020D17, #023947);
  border: #7F7764 solid 1px;
}

.content {
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

.drag-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class-label {
  color: white;
  font-size: larger;
}
