<wot-page width='fit-content'>
  <wot-step-info>
    <h1>
      Schritt 1: Übersicht
    </h1>
    <p>
      Der Computer hat Bilder von Objekten gesammelt, die uns in vergangenen Missionen begegnet sind.
    </p>
  </wot-step-info>
  <wot-row>
    <wot-container>
      <div class="image-container">
        <div class="image-inner-container">
          <span *ngFor="let image of images">
              <img class="img-data" src="{{image.imagePath}}"/>
          </span>
        </div>
      </div>
    </wot-container>
  </wot-row>
  <wot-row>
    <wot-button slot="right" (press)="done()">Schritt abschließen</wot-button>
  </wot-row>
</wot-page>

<wot-success-overlay (continue)="continue()" #successOverlay>
  Super! Ihr habt euch mit den verschiedenen Objekten im Weltall vertraut gemacht. Nun könnt ihr das Erkennungssystem entwickeln.
</wot-success-overlay>
