<wot-page width='fit-content'>
  <wot-step-info>
    <wot-step-title>
      Schritt 1: Übersicht
    </wot-step-title>
    <wot-step-description>
      Der Computer hat Bilder von Objekten gesammelt, die uns in vergangenen Missionen begegnet sind:
    </wot-step-description>
  </wot-step-info>
  <wot-row>
    <wot-container>
      <div class="image-container">
        <div class="image-inner-container">
          <span *ngFor="let image of images">
              <img class="img-data" src="{{image.imagePath}}"/>
          </span>
        </div>
      </div>
    </wot-container>
  </wot-row>
  <wot-row>
    <wot-button slot="right" (click)="continue()">Zum nächsten Schritt</wot-button>
  </wot-row>
</wot-page>
